/* Estilos Gerais */
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@400;700;900&display=swap');

body {
    font-family: 'Nunito Sans', sans-serif;
}

.btn-cadastro {
    width: 380px;
    height: 60px;
    background: #008583;
    color: #ffffff;
    font-size: 24px;
    font-weight: normal;
    border: none;
    border-radius: 15px;
    border-color: #ffffff;
}

/* Cabeçalho */
header {
    width: 100%;
    height: 100px;
    background: #008583;
}

.menu-header{
    display: flex;
    justify-content: space-between;
}

.logo-nt {
    margin-top: 8px;
}

.encontre-imovel {
    width: 240px;
    height: 49px;
    border-radius: 15px;
    margin-top: 25px;
    border: 1px solid #ffffff;
    list-style: none;
    display: flex;
    align-items: center;
}

.encontre-imovel a {
    margin: 0 auto;
    color: #ffffff;
    font-size: 22px;
    font-weight: bold;
    text-decoration: none;
}

/* Introdução */
.intro {
    width: 100%;
    height: 694px;
    background-image: url(../img/img-filtro.jpg);
}

.intro h1 {
    font-size: 58px;
    font-weight: bold;
    color: #ffffff;
    margin-bottom: 10px;
}

.intro p {
    font-size: 32px;
    font-weight: bold;
    color: #ffffff;
    margin: 0;
}

.intro .txt-box {
    margin-top: 100px;
}

.box-form {
    background: #ffffff;
    width: 460px;
    height: 424px;
    border-radius: 20px;
    margin-top: 50px;
}

.box-form h2 {
    font-size: 24px;
    font-weight: normal;
    color: #008583;
    padding: 40px 60px;
    text-align: center;
}

.box-form form input {
    display: block;
    width: 380px;
    height: 40px;
    margin: 0 auto 20px auto;
}

.box-form form button {
    margin-left: 40px;
}